---
layout: default
---

<!-- <div class="home">

  <h1 class="page-heading">Niche Japan</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <title>Niche Japan</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:extra-light" rel="stylesheet">

    <style>
      h1, h2, h3 {
        font-family: 'Work Sans', sans-serif;
        /*font-weight: lighter;*/
      }

      p {
        font-family: 'Open Sans', sans-serif;
      }
    </style>
  </head>
  <body>
    
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Niche Japan</li>
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="callout large">
      <div class="row column text-center">
        <h1>Learn About Niche Aspects of Japan</h1>
        <p class="lead">Our suite of content creators give you the best in trip planning and entertainment about various niche aspects within Japan.</p>
        <a href="#" class="button large">Learn More</a>
      </div>
    </div>
    
    <div class="row">
      <div class="medium-6 columns medium-push-6">
        <img class="thumbnail" src="http://placehold.it/750x350">
      </div>
      <div class="medium-6 columns medium-pull-6">
        <h2>What is Niche Japan?</h2>
        <p>Niche Japan is a suite of content creators spanning various mediums such as blog, video, and podcasts. The content is based on hyper niche aspects of Japan, all with the main focus of helping tourists plan their trips to Japan who have specific interests.</p>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <h3>Written Content</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
      <div class="medium-4 columns">
        <h3>Videos</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
      <div class="medium-4 columns">
        <h3>Podcasts</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
    </div>

    <hr>

    <div class="row column">
      <h3>Our Niches</h3>
      <p>Our content creators are dedicated to bringing the most up-to-date information and content on their respected niches.</p>
    </div>

    <div class="row">
      <div class="medium-6 columns medium-push-6">
        <img class="thumbnail" src="http://placehold.it/750x350">
      </div>
      <div class="medium-6 columns medium-pull-6">
        <h3>Beer Beer Beer</h3>
        <p>Craft Beer in Japan</p>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns medium-push-6">
        <img class="thumbnail" src="http://placehold.it/750x350">
      </div>
      <div class="medium-6 columns medium-pull-6">
        <h3>TDR Explorer</h3>
        <p>Plan your trip to Tokyo Disneyland and other theme parks in Japan. They also have advice for Hong Kong Disneyland and Shanghai Disneyland.</p>
      </div>
    </div>

    <hr>

    <div class="row column">
      <ul class="menu">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
      </ul>
    </div>
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
